body {
	transform: scale(1.2);
	transform-origin: 0 0;
}

div {
	margin-bottom: 16px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

label {
	margin-bottom: 0px;
}

select {
	-webkit-appearance: menulist-button;
	height: 22px;
}

option {
	height: 80px;
	font-size: 15px;
}

input {
	width: 125px;
	font-size: 14px;
}
