<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Clock in/out</title>
		<link rel='stylesheet' type='text/css' href={{url_for('static', filename='css/style.css')}}>
    </head>
    <body>
        <form id='sent' action='/sent'>
			<h1>Signed in as {{name}}</h1>
            <div>
				<h2><label for='event'>Event to clock in/out for</label></h2>
                <select id='event' name='event' method='GET' action='/'>
                    {% for event in events %}
                        <option value="{{event}}">{{event}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type='submit' id='submit-btn' name='submit-btn'>
        </form>
    </body>
</html>
