<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>QR Scanner</title>
        <style>
			#video-container {
				line-height: 0;
			}
			video {
				border-radius: 5px;
			}
       </style>
	   <link rel='stylesheet' type='text/css' href={{url_for('static', filename='css/style.css')}}>
    </head>
    <body>
        <h1>Welcome! Please scan your QR code.</h1>
        <div id='video-container'>
            <video id='qr-video'></video>
        </div>
        <div>
            <select id='inversion-mode-select'>
                <option value='original'>Scan original (dark QR code on bright background)</option>
                <option value='invert'>Scan with inverted colors (bright QR code on dark background)</option>
                <option value='both'>Scan both</option>
            </select>
            <br>
        </div>
        <div>
			<h3><b>Preferred camera:</b></h3>
            <select id='cam-list'>
                <option value='environment' selected>Environment Facing (default)</option>
                <option value='user'>User Facing</option>
            </select>
        </div>
        <div>
			<h3><b>Detected QR code:</b></h3>
			<p><span id='cam-qr-result'>None</span></p>
        </div>
        <br>
        <form id='form' action='/action' hidden>
            <input type='submit' id="submit-btn" name='submit-btn'>
        </form> 
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
        <script src="{{url_for('static', filename='js/qr-scanner/qr-scanner.umd.min.js')}}"></script>
        <script>
            const video = document.getElementById('qr-video');
            const videoContainer = document.getElementById('video-container');
            const camList = document.getElementById('cam-list');
            const camQrResult = document.getElementById('cam-qr-result');
            const submitButton = document.getElementById('submit-btn');

            function runPyScript(input){
                var jqXHR = $.ajax({
                    type: 'POST',
                    url: '/action',
                    async: false,
                    data: {member_id: input}
                });
            }
            
            function setResult(label, result) {
                console.log(result.data);
                label.textContent = result.data;
                label.style.color = 'teal';
                clearTimeout(label.highlightTimeout);
                label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);

				$('#submit-btn').click(function() {
					result = runPyScript(result.data);
					console.log(result);
				});
				submitButton.click();
            }
            
            // Web Cam Scanning
            const scanner = new QrScanner(video, result => setResult(camQrResult, result), {
                onDecodeError: error => {
                    camQrResult.textContent = error;
                    camQrResult.style.color = 'inherit';
                },
                highlightScanRegion: true,
                highlightCodeOutline: true,
            });
            
            scanner.start().then(() => {
                QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
                    const option = document.createElement('option');
                    option.value = camera.id;
                    option.text = camera.label;
                    camList.add(option);
                }));
            });
            
            // for debugging
            window.scanner = scanner;
            
            document.getElementById('inversion-mode-select').addEventListener('change', event => {
                scanner.setInversionMode(event.target.value);
            });
            
            camList.addEventListener('change', event => {
                scanner.setCamera(event.target.value);
            });
        </script>
    </body>
</html>
